#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    height: 300px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 80px;
}

#controls, #message {
    text-align: center;
    margin: 20px;
}